body{
    background-color: #f1f1f1;
    font-family: 'Stick No Bills', sans-serif;
}

h1{
    color: #141115;
}

h2{
    color: #141115;
    width: max-content;
}

header{
    text-align: center;
    margin: auto;
}

form{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15%;
    input:nth-child(odd){
        margin: 10px 0 5px;
    }
}

.image_container{
    border: 1px solid black;
    border-radius: 2px;
    margin-top: 30px;
    width: max-content;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.57); 
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.57);
    transition: 1.5s;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #141115; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .2em; /* Adjust as needed */
    animation:  
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 405.717px }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #141115; }
  }